<!-- Interpolacion-->
<!-- <h1>hoal a todos {{title}}</h1>
<p>{{variable}}</p>
<p>{{duplicarNumero(34)}}</p>
<p>{{objetoPelicula.year}}</p> -->
<!-- PIPES -->
<!-- <p>Nombre: {{objetoPelicula.nombre | uppercase}}</p>
<p>Fecha: {{objetoPelicula.emision | date:"dd MMMM yyyy" | uppercase }}</p>
<p>Precio: {{objetoPelicula.precio | currency}}</p>
<br> -->
<!--NgFor y @For-->
<!--Requiere la importar el *NgFor-->

<!-- <div *ngFor="let pelicula of peliculas let indice =  index">
  <p>{{indice}}) Nombre: {{pelicula.nombre | uppercase}}</p>
  <p>Fecha: {{pelicula.fecha | date:"dd MMMM yyyy"}}</p>
  <p>Precio: {{pelicula.precio | currency}}</p>
</div> -->
<h1>CARTELERA</h1>
<app-listado-peliculas></app-listado-peliculas>

<h1>PROXIMAMANETE</h1>
<app-listado-peliculas></app-listado-peliculas>




